<config>
	<domain>www.energy-streetfight.com</domain>

	<login>
		<action>login</action>
		<parametres>
			<code>code</code>
		</parametres>
	</login>

	<register>
	    <action>register</action>
	    <parametres>
		<code>code</code>
		<first_name>firstName</first_name>
		<last_name>lastName</last_name>
		<email>email</email>
		<team_name>team</team_name>
	    </parametres>
	</register>

	<reading>
		<action>reading</action>
		<parametres>
			<code>code</code>
			<meter_reading>meterValue</meter_reading>
		</parametres>
	</reading>

	<votes>
		<action>vote</action>
		<parametres>
			<code>code</code>
			<sail_to>sail</sail_to>
			<load>load</load>
			<unload>unload</unload>
		</parametres>
	</votes>

</config>