<config>
	<domain>localhost:3000</domain>

	<login>
		<action>login</action>
		<parametres>
			<code>code</code>
		</parametres>
	</login>

	<registration>
	    <action>register</action>
	    <parametres>
		<code>code</code>
		<first_name>firstName</first_name>
		<last_name>lastName</last_name>
		<email>email</email>
		<team_name>team</team_name>
	    </parametres>
	</registration>
	<reading>
		<action>meter_readings</action>
		<parametres>
			<code>code</code>
			<meter_reading>reading</meter_reading>
		</parametres>
	</reading>
	<game>
	    <action>game.xml</action>
	</game>

	<user>
	    <action>user.xml</action>
	    <parametres>
		<user_code>code</user_code>
	    </parametres>
	</user>
	<vote_summary>
	    <action>votes/summary.xml</action>
		<parametres>
			<vote_code>code</vote_code>
			<turn>turn</turn>
		</parametres>
	</vote_summary>
	<vote_status>
		<action>votes/summary.xml</action>
		<parametres>
			<vote_code>code</vote_code>
			<turn>turn</turn>
		</parametres>
	</vote_status>

	<votes>
		<action>vote</action>
		<parametres>
			<code>code</code>
			<sail_to>destination_id</sail_to>
			<load>load</load>
			<unload>unload</unload>
		</parametres>
	</votes>
</config>