<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
	<head>
		<title>Energy Streetfight</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link rel="stylesheet" type="text/css" href="_css/style.css">
			
				
			
	</head>
	<body>
		<div class="container">
			<div id="top" class="menu">
				<a href="#uber_energy" style=""><img src="./images/uber_energy.png"/></a>
				<a href="#uber_energy" style=""><img src="./images/uber_uns.png"/></a>
				<a href="#datenshutz" style=""><img src="./images/datenshutz.png"/></a>
				<a href="#impressum" style=""><img src="./images/impressum.png"/></a>
			</div>
			
			<div id="flashContent">
				
				<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" width="1024" height="640" id="register" align="middle">
					<param name="movie" value="<%= @flash_name %>" />
					<param name="quality" value="high" />
					<param name="bgcolor" value="#ffffff" />
					<param name="play" value="true" />
					<param name="loop" value="true" />
					<param name="wmode" value="window" />
					<param name="scale" value="showall" />
					<param name="menu" value="true" />
					<param name="devicefont" value="false" />
					<param name="salign" value="" />
					<param name="allowScriptAccess" value="sameDomain" />
					<!--[if !IE]>-->
					<object type="application/x-shockwave-flash" data="<%= @flash_name %>" width="1024" height="640">
						<param name="movie" value="<%= @flash_name %>" />
						<param name="quality" value="high" />
						<param name="bgcolor" value="#ffffff" />
						<param name="play" value="true" />
						<param name="loop" value="true" />
						<param name="wmode" value="window" />
						<param name="scale" value="showall" />
						<param name="menu" value="true" />
						<param name="devicefont" value="false" />
						<param name="salign" value="" />
						<param name="allowScriptAccess" value="sameDomain" />
					<!--<![endif]-->
						<a href="http://www.adobe.com/go/getflash">
							<img src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="Get Adobe Flash player" />
						</a>
					<!--[if !IE]>-->
					</object>
					<!--<![endif]-->
				</object>
				<br/>Du wohnst in der Stargarder Straße und möchtest mitspielen? Melde dich mit dem Code deiner Code-Karte unter <a href="http://www.energy-streetfight.com/registrieren">energy-streetfight.com/registrieren</a> an.<br/>
Keine Code-Karte? Schreibe uns eine E-Mail an <a href="mailto:mail@energy-streetfight.com">mail@energy-streetfight.com</a>
			</div>
			
			<div id="uber_energy" class="info_section">
				<a href="#top" style=""><img src="./images/zuruck.png"/></a>
				<div class="cols">
					<div class="col1">
						<span style="color:#4ED00D;font-size:15px;">ÜBER ENERGY STREET FIGHT</span><br/>
	Ahoi, Pirat! In den nächsten Wochen wirst du mit deinem Schiff über alle Weltmeere segeln. Du wirst viele Herausforderungen meistern müssen, Schätze finden und am Ende reich belohnt werden. <br/><br/>
	
	Dein Boot teilst Du mit allen Bewohnern deines Hauses, deine Nachbarn sind deine Crew. Gemeinsam entscheidet ihr, wo es hingehen soll. Deine Flotte, deine Straßenseite, steht im Wettkampf mit allen Häusern der anderen Straßenseite der Stargarder Straße. Diese werden mit allen Mitteln versuchen eure Pläne zu durchkreuzen.  <br/><br/>
	
	Deine Mission: finde rare Ressourcen auf den im Meer verstreuten Inseln und transportiere sie so schnell wie möglich zu der Insel, auf der gerade ein Mangel an dieser Ressource herrscht und löse so die vorhanden Probleme. <br/><br/>
	
	Die Geschwindigkeit deines Bootes wird bestimmt durch den Stromverbrauch deines Hauses. Verbraucht ihr wenig und verbessert ihr euch von Woche zu Woche so wird dein Boot immer schneller und wendiger. Teile deine Stromspar-Strategien mit deinen Nachbarn und den anderen Bewohnern deiner Straßenseite. Verhilf deiner Flotte zum Sieg im Energy Streetfight!<br/><br/>
	Mehr Informationen: <a href="http://blog.energy-streetfight.com" style="color:#4ED00D;">blog.energy-streetfight.com </a>
					</div>
					<div class="col2">
						<span style="color:#4ED00D;font-size:15px;">ÜBER UNS</span><br/><br/>
						<a href="#top" style=""><img src="./images/vic.png"/></a><br/><br/>
							Das Kollektiv vic ventures will mit unternehmerischen Initiativen individuelle, kulturelle und gesellschaftliche Entfaltung vorantreiben. vic ventures ist gegenwärtig in Berlin, London und Paris aktiv.<br/><br/>
						Habib Lesevic<br/>
						Benedikt Foit<br/><br/>
						
						<a href="http://www.vic-ventures.com" style="color:#4ED00D;">www.vic-ventures.com</a><br/><br/>
						<span style="font-weight:bold;">TEAM</span><br/>
							Julien Molteni - Game Design & User Interface<br/>
							Björn Günzel - Web Backend & Game Engine<br/>
							Matthieu Pons - Web Frontend & User Interface<br/>
							Jens Ole Mayer - Identity, Illustration and Graphics<br/><br/>
							<a href="#top" style=""><img src="./images/lebenkunst.png"/></a><br/><br/>
	
	
	Das Projekt Energy Streetfight wird gefördert von Über Lebenskunst, einem Initiativprojekt der Kulturstiftung des Bundes in Kooperation mit dem Haus der Kulturen der Welt.
					</div>
				</div>
			</div>
			<div id="datenshutz" class="info_section">
				<a href="#top" style=""><img src="./images/zuruck.png"/></a>
				<div class="cols">
					<div class="col1">
						<span style="color:#4ED00D;font-size:15px;">DATENSCHUTZ</span><br/>
	
Wir, das Team von Energy Streetfight, nehmen den Schutz deiner persönlichen Daten sehr ernst und halten uns strikt an die Regeln der Datenschutzgesetze. Personenbezogene Daten werden auf dieser Webseite nur im technisch notwendigen Umfang erhoben. In keinem Fall werden die erhobenen Daten verkauft oder aus anderen Gründen an Dritte weitergegeben.<br/>
Die nachfolgende Erklärung geben einen Überblick darüber, wie wir diesen Schutz gewährleisten und welche Art von Daten zu welchem Zweck erhoben werden.<br/><br/>

<span style="font-weight:bold;">DATENVERARBEITUNG</span><br/>
Energy Streetfight erhebt und speichert automatisch Informationen, die dein Browser an uns übermittelt. Dies sind:<br/><br/>
<span style="margin-left:10px;">	•	Browsertyp/ -version</span><br/>
<span style="margin-left:10px;">	•	verwendetes Betriebssystem</span><br/>
<span style="margin-left:10px;">	•	Referrer URL (die zuvor besuchte Seite)</span><br/>
<span style="margin-left:10px;">	•	Hostname des zugreifenden Rechners (IP Adresse)</span><br/>
<span style="margin-left:10px;">	•	Uhrzeit der Serveranfrage.</span><br/><br/>

Diese Daten sind für Energy Streetfight nicht bestimmten Personen zuordenbar. Eine Zusammenführung dieser Daten mit anderen Datenquellen wird nicht vorgenommen, die Daten werden zudem nach einer statistischen Auswertung gelöscht.<br/>



					</div>
					<div class="col2"><br/>
Energy Streetfight speichert außerdem die folgenden von dir angegebenen Daten, wenn du am Spiel teilnimmst:<br/><br/>
						<span style="margin-left:10px;">	•	E-Mail-Adresse</span><br/>
<span style="margin-left:10px;">	•	Vor- und Nachname</span><br/>
<span style="margin-left:10px;">	•	Hausnummer</span><br/>
<span style="margin-left:10px;">	•	Wöchentlicher Stromzählermeßstand</span><br/><br/>

Diese Daten werden benötigt, um am Energy Streetfight Spiel teilzunehmen. Um die Ergebnisse des Spiels zu evaluieren behalten wir uns vor, den Energieverbrauch pro Haus, den Energieverbrauch aller teilnehmenden Häuser sowie die Veränderung des Energieverbrauchs als durchschnittliche Werte zu veröffentlichen. Strommeßdaten einzelner Haushalte werden selbstverständlich nicht veröffentlicht.<br/><br/>

<span style="font-weight:bold;">WEITERE INFORMATIONEN</span><br/>
Dein Vertrauen ist uns wichtig. Daher möchten wir dir jederzeit Rede und Antwort bezüglich der Verarbeitung deiner personenbezogenen Daten stehen. Wenn du Fragen hast, die dir diese Datenschutzerklärung nicht beantworten konnte oder wenn du zu einem Punkt vertiefte Informationen wünscht, wende dich bitte jederzeit an das Team (<a href="mailto:mail@energy-streetfight.com" style="color:#4ED00D;">mail@energy-streetfight.com</a>).
					</div>
				</div>
			</div>
			<div id="impressum" class="info_section">
				<a href="#top" style=""><img src="./images/zuruck.png"/></a>
				<div class="cols">
					<div class="col1">
						<span style="color:#4ED00D;font-size:15px;">IMPRESSUM</span><br/>
Energy Streetfight ist eine Initiative von vic ventures. Mit diesem Projekt möchten wir einen spielerischen Beitrag zur Bewusstwerdung über den häuslichen Energieverbrauch leisten. <br/><br/>

<span style="font-weight:bold;">Habib Lesevic</span>		<span style="margin-left:20px;font-weight:bold;">Benedikt Foit</span><br/>
5 Tyssen Street		<span style="margin-left:20px;">Adalbertstr. 74</span><br/>
London, E8 2LY		<span style="margin-left:20px;">10997 Berlin</span><br/>
Großbritannien&nbsp;		<span style="margin-left:20px;">Deutschland</span><br/>
<br/>
<a href="mailto:mail@energy-streetfight.com" style="color:#4ED00D;">mail@energy-streetfight.com</a>   



					</div>
					<div class="col2">
					
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
